@model TP_PW.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-white rounded" style="margin: 1rem; padding: 1rem;">
            <h2>Detalhes do Utilizador</h2>

            <hr />
            <dl class="dl-horizontal">


                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Roles)
                </dt>
                <dd>
                    @Html.Raw(ViewBag.role)
                </dd>
                <dt>
                    @Html.Raw("Nome")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PrimeiroNome)
                    @Html.DisplayFor(model => model.Apelido)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataNascimento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-secondary " onclick="location.href = '@Url.Action("Edit", "Users", new { id = Model.Id })'">Editar</button>
                <button type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "Users")'">Voltar</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
