@{
    ViewBag.Title = "RoleAddToUser";
}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-white rounded" style="margin: 1rem; padding: 1rem;">

            <input type="button" class="btn btn-outline-danger" value="Voltar" onclick="location.href='@Url.Action("Index", "Users")'" />

            <hr />
            <div class="form-text text-muted">@ViewBag.ResultMessage</div>
            
            @using (Html.BeginForm("RoleAddToUser", "Users"))
            {

                <h2>Add role to user</h2>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

               

                <div class="form-group row">
                    <label for="UserName" class="col-md-3 col-form-label">Username :</label>
                    <div class="col-md-6">
                        @* @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "form-control custom-select mr-md-3" })*@
                        @Html.Editor("UserName", new { htmlAttributes = new { @class = "form-control disabled", Value = ViewBag.user, ReadOnly = "readonly"}})
                        
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for="RoleName" class="col-md-3 col-form-label">Role Name:</label>
                    <div class="col-md-6">

                        @Html.DropDownList("RoleName", ViewBag.Roles as SelectList, new {@class = "form-control custom-select mr-md-3"})
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </div>

            }

            <hr />

            @using (Html.BeginForm("DeleteRoleForUser", "Users"))
            {
                <h2>Remove role from user</h2>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="form-group row">
                    <label for="UserName" class="col-md-3 col-form-label">Username :</label>
                    <div class="col-md-6">
                        @* @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "form-control custom-select mr-md-3" })*@
                        @Html.Editor("UserName", new { htmlAttributes = new { @class = "form-control disabled", Value = ViewBag.user, ReadOnly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="RoleName" class="col-md-3 col-form-label">Role Name:</label>
                    <div class="col-md-6">
                        @Html.DropDownList("RoleName", ViewBag.RolesForThisUsere as SelectList, new { @class = "form-control custom-select mr-md-3" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Apagar</button>
                    </div>
                </div>
            }
            <hr />

            
            <div class="col-md-3"></div>
        </div>
            </div>
</div>