@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    
<li class="has-child">

    <a href='#'>Conta</a>
    @*@Html.ActionLink(User.Identity.GetUserName(), "", "", routeValues: null, htmlAttributes: new {title = "Manage"})*@
    <ul class="sub-menu" style="width: 148px !important;">
        <li class="disabled"> @User.Identity.GetUserName()</li>
        <li><hr /></li>
        @if (User.IsInRole("Administrador") || User.IsInRole("Especialista"))
        {
            <li>@Html.ActionLink("Manage Artigos", "Index", "Artigos", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li>@Html.ActionLink("Manage Accounts", "Index", "Users", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        }
        <li>@Html.ActionLink("Manage My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            }
        </li>
    </ul>
</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Registo", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}
