@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
        <li class="has-child">
                    
            @Html.Raw(String.Format("<a href='#' >{0}</a>", @User.Identity.GetUserName()))
            @*@Html.ActionLink(User.Identity.GetUserName(), "", "", routeValues: null, htmlAttributes: new {title = "Manage"})*@
            <ul class="sub-menu">
                @if (User.IsInRole("Administrador") || User.IsInRole("Especialista"))
                {
                    <li>@Html.ActionLink("Manage Artigos", "Index", "Artigos", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li>@Html.ActionLink("Manage Accounts", "Index", "Users", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                }
                <li>@Html.ActionLink("Manage My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            </ul>
        </li>
    }
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Registo", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}
