@model TP_PW.Models.Artigo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artigo</h4>
    <hr />
    <div class="container">
        <div class="row" style="margin-bottom: 1rem !important;">
            <div class="col-md-8 ">
                <img src="@Html.DisplayFor(model => model.ImagemURL)" />
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>



                    <dt>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tipo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Origem)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Origem)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AnoDescoberto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnoDescoberto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ZonaDescoberto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ZonaDescoberto)
                    </dd>
                    <hr />
                    @if (Request.IsAuthenticated)
                    {
                        <div class="col-md-12">
                            @if (User.IsInRole("Utilizador"))
                            {
                                <button type="button" class="btn btn-outline-secondary" onclick="location.href = '#'">Requesitar</button>
                                <button type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Galeria", "Artigos")'">Voltar</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-outline-secondary " onclick="location.href = '@Url.Action("Edit", "Artigos", new { id = Model.Id })'">Editar</button>
                                <button type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "Artigos")'">Voltar</button>
                            }

                        </div>
                    }
                    </dl>
            </div>
        </div>
    </div>
</div>

