@model TP_PW.Models.Artigo

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Detalhes do Artigo</h2>

    <div>
        <h4>@Model.Nome</h4>
        <hr />
        <div class="container">
            <div class="row" style="margin-bottom: 1rem !important;">
                <div class="col-md-8 text-center">
                    <img src="@Html.DisplayFor(model => model.ImagemURL)" />
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">

                        <dt>Descrição:</dt>
                        <dd>
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>

                        <dt>Tipo:</dt>
                        <dd>
                            @Html.DisplayFor(model => model.Tipo)
                        </dd>

                        <dt>Ano do descobrimento:</dt>
                        <dd>
                            @if (Model.AnoDescoberto != null) {
                                @Html.DisplayFor(model => model.AnoDescoberto);
                            }
                            else{ 
                                @:Desconhecido
                            }
                        </dd>

                        <dt>Zona em que foi descoberto:</dt>
                        <dd>
                            @if (Model.ZonaDescoberto != null)
                            {
                                @Html.DisplayFor(model => model.ZonaDescoberto);
                            }
                            else
                            {
                                @:Desconhecido
                            }
                        </dd>

                        <dt>Origem:</dt>
                        <dd>
                            @if (Model.Origem != null)
                            {
                                @Html.DisplayFor(model => model.Origem)
                            }
                            else{
                                @:Desconhecido
                            }
                        </dd>

                        <hr />
                        <div class="col-md-12">
                            @if (Request.IsAuthenticated && !User.IsInRole("Utilizador"))
                            {
                                <button type="button" class="btn btn-outline-secondary " onclick="location.href = '@Url.Action("Edit", "Artigos", new { id = Model.Id })'">Editar</button>
                            }
                            <button type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Galeria", "Artigos")'">Voltar para galeria</button>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
