@model IEnumerable<TP_PW.Models.Artigo>

@{
    ViewBag.Title = "Index";
}



<div class="page-title sp" style="background-image: url(../../assets/img/title-galeria.jpg)">
    <div class="container text-center" style="color:antiquewhite !important">
        <h2 style="color:antiquewhite !important">A Galeria do Nosso Museu</h2>
        <p>A Arte Mais Famosa do Mundo</p>
    </div>
</div>
<div class="portfolio-area sp">
    <div class="container">
        
        <div class="row portfolio-isotope">

            @foreach (var item in Model)
            {
                <div class="single-portfolio col-md-4 branding photography design">
                    <div class="inner">
                        <div class="portfolio-img">
                            <img src=@item.ImagemURL alt="portfolio-image">
                            <div class="hover-content">
                                <div>
                                    <button type="button" class="button" onclick="location.href = '@Url.Action("Details", "Artigos", new {id = item.Id})'">Ver Detalhes</button>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <a href="@Url.Action("Details", "Artigos", new {id = item.Id})" >
                                <h3>@item.Nome</h3>
                            </a>
                            <span>@item.Tipo.ToString()</span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>




@*<div class="container">
        <div class="row">

            <div class="col-md-12 border border-white rounded" style="margin: 1rem;">
                <h2>Artigos</h2>
                <hr />
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tipo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Origem)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AnoDescoberto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ZonaDescoberto)
                        </th>
                        <th>
                            <input type="button" class="btn btn-outline-secondary btn-sm" value="Adicionar Artigo" onclick="location.href = '@Url.Action("Create", "Artigos")'" />
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Origem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AnoDescoberto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ZonaDescoberto)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>*@