@model TP_PW.Models.EmprestimosViewModel

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <h2>Remover Emprestimo</h2>

    <h3>Tem a certeza que pretende remover este empréstimo?</h3>
    <hr />

    <div class="row">
        <div class="offset-md-1 col-md-10">
            <dl class="dl-horizontal">
                <dt>Nome de utilizador:</dt>
                <dd>
                    @Html.DisplayFor(model => model.utilizador.UserName)
                </dd>

                <dt>Estado do emprestimo:</dt>
                <dd>
                    @Html.DisplayFor(model => model.estadoEmprestimo.Estado)
                </dd>

                <dt>Data de início do empréstimo:</dt>
                <dd>
                    @Model.emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("idEmprestimo", Model.emprestimo.Id)

                <div class="form-group text-right">
                    <input type="submit" value="Remover" class="btn btn-default" />
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
    </div>
</div>