@model TP_PW.Models.EmprestimosViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <h2>Editar Emprestimo</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class=" offset-md-1 col-md-10">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("idEmprestimo", Model.emprestimo.Id)

                <div class="form-group">
                    <label>Nome de utilizador:</label>
                    <input type="text" class="form-control" readonly="readonly" value="@Model.utilizador.UserName" />
                </div>

                <div class="form-group">
                    <label>Data de início do empréstimo:</label>
                    <input type="text" class="form-control date" readonly="readonly" value="@Model.emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")" />
                </div>

                <div class="form-group">
                    <label>Estado do emprestimo:</label>
                    @*SOURCE: https://stackoverflow.com/questions/5688910/asp-net-mvc-dropdownlistfor-with-model-of-type-liststring**@
                    @Html.DropDownList("idEstado",
                       new SelectList(
                           Model.todosOsEstados.Select(estEmp => new { Value = estEmp.Id, Text = estEmp.Estado }),
                           "Value",
                           "Text"
                       ),
                       new { @class = "form-control" }
                    )
                    @Html.ValidationMessageFor(model => model.estadoEmprestimo.Estado, "", new { @class = "text-danger" })
                </div>

                <div class="form-group text-right">
                    <input type="submit" value="Confirmar" class="btn btn-default" />
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }

    <div>
    </div>
</div>