@model IEnumerable<TP_PW.Models.EmprestimosUsersViewModel>
@{
    ViewBag.Title = "Empréstimos";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="container">
    <h2>Empréstimos</h2>
    @if (User.IsInRole("Administrador") || User.IsInRole("Utilizador"))
    {
        <p>
            @Html.ActionLink("Adicionar Emprestimo", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.emprestimo.IdUtilizador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emprestimo.IdEstado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emprestimo.DataEmprestimo)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.emprestimo.IdUtilizador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.emprestimo.IdEstado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.emprestimo.DataEmprestimo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.emprestimo.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.emprestimo.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.emprestimo.Id })
                    </td>
                </tr>
            }

        </table>
    }
    </div>
}