@model IEnumerable<TP_PW.Models.EmprestimosViewModel>
@{
    ViewBag.Title = "Empréstimos";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="container">
    <h2>Histórico de empréstimos</h2>
    @if (User.IsInRole("Administrador") || User.IsInRole("Utilizador"))
    {
        <table class="table">
            <tr>
                <th>
                    Id Empréstimo
                </th>
                @if (User.IsInRole("Administrador"))
                {
                    <th>
                        Username
                    </th>
                }
                <th>
                    Estado
                </th>
                <th>
                    Data
                </th>
                <th>@Html.ActionLink("Adicionar Emprestimo", "Create", null, new { @class = "btn btn-outline-secondary btn-sm" })</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.emprestimo.Id)
                    </td>
                    @if (User.IsInRole("Administrador"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.utilizador.UserName)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.estadoEmprestimo.Estado)
                    </td>
                    <td>
                        @item.emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @if (User.IsInRole("Administrador"))
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = item.emprestimo.Id }) @:|
                        }
                        @Html.ActionLink("Detalhes", "Details", new { id = item.emprestimo.Id }) |
                        @Html.ActionLink("Remover", "Delete", new { id = item.emprestimo.Id })
                    </td>
                </tr>
            }

        </table>
    }
    </div>
}